[Unit]
Description=Córtex IA Trading Bot
After=network.target

[Service]
Type=simple
User=servico
Group=servico
WorkingDirectory=/home/servico/cortex-ia
Environment="PATH=/home/servico/cortex-ia/.venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/home/servico/cortex-ia/.venv/bin/python main.py
Restart=always
RestartSec=10
TimeoutStopSec=20
StandardOutput=append:/LOGS-PROJETOS/cortex-ia/systemd-out.log
StandardError=append:/LOGS-PROJETOS/cortex-ia/systemd-error.log

[Install]
WantedBy=multi-user.target
